@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #1F2937;
}

header {
    background-color: #1F2937;
    padding: 5px 100px 80px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 0;
    padding-top: 0;
}

.logo img {
    width: 180px;
    height: auto;
    
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700px;
    color: #E5E7EB;
    padding-right: 15px;

}

.nav-links a:hover {
    color: #3882F6;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #E5E7EB;
    line-height: 1.1;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 18px;
    max-width: 500px;
}

.hero-text button {
    height: 5ex;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #E5E7EB;
    color: #1F2937;
    
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    max-width: 520px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.information {
    padding: 50px 180px 100px;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.card {
    width: 170px;
}

.card img,
.illustration {
    width: 170px;
    height: 170px;
    border: solid 1px #3882F6;
    border-radius: 16px;
    margin-bottom: 10px;
    object-fit: cover;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 100px 220px;
}

.quote-section blockquote {
    max-width: 800px;
    margin: 0 auto;
}

.quote-section blockquote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    margin-top: 16px;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
}

.cta-section {
    padding: 100px 180px;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.cta-text h3 {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 700;
}

.cta-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.cta-button button {
    background-color: transparent;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 700;
    cursor: pointer;
}

.cta-button button:hover {
    background-color: #E5E7EB;
    color: #1F2937;
    border: 2px solid #1F2937;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 35px 20px;
    font-size: 18px;
}